.top-container{
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul{
    display: inline;
    
}





h1{
    color: blue;
}
h2{
    color: blue;
}
h3{color: blue;
}